body {
  background: url(photos/silhouette.jpeg);
  background-size: 100%;
  color: white;
  font-family: Quicksand;
}

#main-card {
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 36px #fff, 0 0 32px #fff,
    0 0 44px #0fa, 0 0 60px #0fa, 0 0 85px #0fa, 0 0 100px #0fa;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px 20px 0px 20px;
}
#city-heading,
h1 {
  animation: pulsate 1.5s infinite alternate;
  font-size: 55px;
  margin: 5px;
  margin-bottom: 0;
  text-align: left;
  text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 10px #fff, 0 0 21px #0fa,
    0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 151px #0fa;
}
#city-heading,
#current-condition {
  text-transform: capitalize;
}
@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow: 0 0 5px #fff, 0 0 18px #fff, 0 0 27px #fff, 0 0 54px #0fa,
      0 0 99px #0fa, 0 0 127px #0fa, 0 0 146px #0fa, 0 0 150px #0fa;
  }
  0% {
    /* Smaller blur radius */
    text-shadow: 0 0 3px #fff, 0 0 7px #fff, 0 0 19px #fff, 0 0 18px #0fa,
      0 0 42px #0fa, 0 0 63px #0fa, 0 0 72px #0fa, 0 0 127px #0fa;
  }
}

#clock {
  color: white;
  font-size: 28px;
  margin: 10px;
  text-shadow: 0 0 1px rgb(255, 255, 255), 0 0 3px rgb(255, 255, 255),
    0 0 9px rgb(255, 255, 255);
}
#time {
  font-size: 28px;
  margin: 5px;
  text-shadow: 0 0 1px rgb(255, 255, 255), 0 0 3px rgb(255, 255, 255),
    0 0 9px rgb(255, 255, 255);
}
#date {
  font-size: 28px;
  margin: 5px;
  margin-top: 0;
  text-shadow: 0 0 1px rgb(255, 255, 255), 0 0 3px rgb(255, 255, 255),
    0 0 9px rgb(255, 255, 255);
}
#search-bar,
#submit-search,
#current-location {
  background: rgba(36, 90, 160, 0.4);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 12px;
  position: relative;
  left: 300px;
  bottom: 125px;
}
#search-bar {
  background: rgba(174, 229, 255, 0.8);
}
#weather-now {
  margin-top: 30px;
  position: relative;
  bottom: 30px;
}
#emoji-now {
  background: rgba(160, 204, 255, 0.5);
  border-radius: 60px;
  box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff,
    0 0 12px rgb(0, 255, 170), 0 0 18px rgb(0, 255, 170),
    0 0 21px rgb(0, 255, 170), 0 0 27px rgb(0, 255, 170);
  text-align: center;
  margin: 0;
  padding: 0;
}
.today {
  position: relative;
  left: 50px;
}
#high,
#current-temp,
#low {
  text-align: center;
  font-size: 18px;
}
#current-temp,
#currently {
  text-align: center;
  font-size: larger;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 2px rgb(0, 255, 170),
    0 0 3px rgb(0, 255, 170), 0 0 12px rgb(0, 255, 170);
}
#current-point {
  text-align: center;
  position: relative;
  left: 10px;
}
.active {
  color: white;
  cursor: default;
  text-decoration: none;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 2px rgb(0, 255, 170),
    0 0 3px rgb(0, 255, 170), 0 0 12px rgb(0, 255, 170);
}

.list-group-item {
  background: rgb(160, 204, 255, 0.02);
  border: none;
  color: white;
  margin-top: 5px;
  padding: 0;
}
.conditions {
  background: rgba(160, 204, 255, 0.5);
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff,
    0 0 12px rgb(0, 255, 170), 0 0 18px rgb(0, 255, 170),
    0 0 21px rgb(0, 255, 170), 0 0 27px rgb(0, 255, 170);
  text-align: left;
}
#forecast {
  font-size: 11px;
  text-align: center;
}
.card {
  background: rgba(160, 204, 255, 0.3);
  border-radius: 10px;
  margin: 10px;
}
.card-body,
.card-header,
.card-text {
  padding: 0;
  background: transparent;
}

.mid {
  box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #fff,
    0 0 5px rgb(124, 255, 211), 0 0 6px rgb(124, 255, 211),
    0 0 9px rgb(124, 255, 211), 0 0 12px rgb(124, 255, 211);
}

.weather-forecast-date {
  font-size: 18px;
}
.weather-forecast-temperature-min,
.weather-forecast-temperature-max {
  font-size: 16px;
}
.weather-forecast-temperature-max {
  font-weight: 900;
}

#tag {
  font-size: small;
  text-align: center;
  position: relative;
  top: 10px;
}
